# Generated build artifacts — written by build:ui (cssnano / Bun.build minify), never oxfmt
static/main.js
static/style.css

# Byte-exact golden renders — written by render:golden, diffed by render:check; never normalize
test/golden/
